<!DOCTYPE html>
<html lang="es" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FreeGPT{% endblock %}</title>
    <!-- Incluye el CDN de Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Configuración personalizada de Tailwind -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        
                    },
                },
            },
        }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex flex-col min-h-screen">
    <!-- Barra de navegación -->
    <nav class="">
        <div class="navbar bg-base-200 shadow-sm">            
            <div class="container mx-auto px-4 py-4 flex justify-between items-center">
                <a href="#" class="text-xl font-semibold">FreeGPT</a>
                <ul class="menu menu-vertical lg:menu-horizontal rounded-box">
                    <li><a>Inicio</a></li>
                    <li><a>Donaciones</a></li>
                    <li><a>Contacto</a></li>
                </ul>            
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main class="container mx-auto px-4 py-8 flex-grow">
        {% block content %}
        <!-- Contenido de la página -->
        {% endblock %}
    </main>

    <!-- Pie de página -->
    <footer class="bg-base-200">
        <div class="container mx-auto px-4 py-4 text-center">
            &copy; 2025 FreeGPT. Todos los derechos reservados.
        </div>
    </footer>
</body>
</html>